{
	"printWidth": 100,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"proseWrap": "preserve",
	"endOfLine": "auto",
	"jsxBracketSameLine": true,
	"jsxSingleQuote": true,
	"vueIndentScriptAndStyle": true,
	"requirePragma": true,
	"insertPragma": false,
	"plugins": ["prettier-plugin-astro","prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"svelteStrictMode": true,
	"svelteBracketNewLine": true,
	"svelteAllowShorthand": false,
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"svelteSortOrder": "scripts-styles-options-markup",
	"svelteIndentScriptAndStyle": false
}
